@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$font-stack : "Ubuntu",
sans-serif;


* {
  padding: 0;
  margin: 0;
}

.main {
  min-height: 100vh;
  position: relative;
  background-color: #E7FAFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: $font-stack;
  font-weight: 700;
  font-size: 44px;
  margin-top: 8vw;
  padding-bottom: 30px;
}

.type {
  margin: 10px 0;
  font-size: larger;
}

.listype {
  position: absolute;
  top: 40px;
  left: 60px;
  display: flex;
  gap: 10px;

  a {
    text-decoration: none;
    font-size: larger;
    font-family: $font-stack;
  }
}

.userDetail {
  position: absolute;
  top: 40px;
  right: 60px;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: large;
  font-family: $font-stack;
  font-weight: 400;
  background-color: #4EC5FD;
}


.todolist {
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 12px 27px 5px rgba(48, 238, 253, 0.47);
  -webkit-box-shadow: 1px 12px 27px 5px rgba(48, 238, 253, 0.47);
  -moz-box-shadow: 1px 12px 27px 5px rgba(48, 238, 253, 0.47);

  .detailBar {
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(91, 202, 255, 1) 48%, rgba(77, 67, 239, 1) 98%);

    color: #fff;
    padding-left: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: $font-stack;
    font-weight: 400;

  }
}

.add{
  max-width: inherit;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: aliceblue;
  
  input{
    font-family: $font-stack;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: transparent;
  }::placeholder{
    color: lightgrey;
  }

  img{
    cursor: pointer;
  }

  button{
    border: none;
    background-color: transparent;
  }
}

.items{
  max-width: inherit;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  position: relative;
  background-color: aliceblue;
  border-bottom: 1px solid lightgrey;

  .time{
    color:lightgrey;
    font-size: large;
    font-weight: 500;
  }

  .task{
    color: rgb(89, 86, 86);
    font-size: large;
  }


  .img{
    background-color: rgba(228, 224, 224, 0.342);
    padding: 5px 5px;
    border-radius: 50%;
  }
  
  img{
    cursor: pointer;
  }

  .icons{
    position: absolute;
    top: 0;
    background-color: aliceblue;
    padding: 10px 10px;
    border-radius: 50%;
    -webkit-box-shadow: 4px 6px 23px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 6px 23px -10px rgba(66, 68, 90, 1);
    box-shadow: 4px 6px 23px -10px rgba(66, 68, 90, 1);

    z-index: 10;
  }

  #submit{
    top: -20px;
    right: 70px;
  }

  #edit{
    top: 50%;
    left: 68%;
    transform: translate(-50%, -60%); 
  }

  #delete{
    top: 60px;
    right: 70px;
  }
}


// media query 

@media screen and (max-width: 768px) {
  .listype {
    top: 20px;
    left: 20px;

    a {
      font-size: medium;
    }
  }

  .userDetail {
    top: 10px;
    right: 30px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: medium;
    background-color: #4EC5FD;
  }

  .title {
    font-size: 36px;
    margin-top: 20vw;
    padding-bottom: 30px;
  }

  .todolist{
    width: 350px;
  }
}